@tailwind base;
@tailwind components;
@tailwind utilities;

.polka {
    background-color: white;
    z-index: 100;
    background-image: radial-gradient(rgba(0, 0, 0, 0.648) 1px,rgb(0, 0, 0) 1px);
    background-size: 32px 32px;
}

.sidemenu-active {
  color: #61f9ec;
}
/* 
.codeblock pre{
  background-color: rgba(133, 133, 133, 0.34);
  margin: -5px 0;
  padding: 3px;
  border-radius: 5px;
} */

.AICHAT{
  line-height: 2;
}

/* .AICHAT pre {
  background-color: rgba(133, 133, 133, 0.34);
  margin: 5px 0;
  padding: 3px;
  border-radius: 5px;
}

*/
  
.AICHAT pre code::-webkit-scrollbar-track {
 
  background-color: #131313;
}

.AICHAT pre code::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.AICHAT ul{
    list-style-type: disc; 
    list-style-position: inside;
}

.AICHAT ol{
    list-style-type:decimal; 
    list-style-position: inside;
}

.AICHAT h1{
  font-size: larger;
  font-weight: 800;
}
.AICHAT h2{
  font-size: inherit;
  font-weight: 800;
}
.AICHAT h3{
  font-size: large;
  font-weight: 700;
}

.scrollbar-invisible::-webkit-scrollbar {
  width: 0px;
}


.scrollbar-thin::-webkit-scrollbar {
  width: 0px;
}

.scrollbar-thin::-webkit-scrollbar-track {
 
  background-color: #131313;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3a3a3a;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}
