@tailwind base;
@tailwind components;
@tailwind utilities;

.sidemenu-active {
  color: #61f9ec;
}
/* 
.codeblock pre{
  background-color: rgba(133, 133, 133, 0.34);
  margin: -5px 0;
  padding: 3px;
  border-radius: 5px;
} */

.AICHAT{
  line-height: 2;
}

/* .AICHAT pre {
  background-color: rgba(133, 133, 133, 0.34);
  margin: 5px 0;
  padding: 3px;
  border-radius: 5px;
}
  
.AICHAT pre {
  background: transparent;
} */

.AICHAT ul{
    list-style-type: disc; 
    list-style-position: inside;
}

.AICHAT ol{
    list-style-type:decimal; 
    list-style-position: inside;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}


.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
